[user]
	name = Brook Jeynes [SSW]
	email = jeynesbrook@gmail.com
	signinkey = 0B9C25714B5B5565
	signingkey = 3FFFC1ED01D34859

[commit]
	gpgsign = true

[core]
	editor = nvim
	excludesFile = .gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
